body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

img {
  max-height:100%;
  max-width:100%;
}

main {
  text-align:center;
  width:80%;
  margin:auto;
  color:gray;
	margin-top:10px;

}

.title {
  font-size:50px;
  color:rgba(98,160,68,.75);
  margin-bottom:0px;
}

.subtitle {
  font-size:40px;
  margin-top:0px;
}

.main_text {
  font-size:40px;
  margin:auto;
  margin-bottom:40px;
}

.subtext {
  font-size:20px;
  color:black;
}

.pic_container {
  display:flex;
}

.pic_container img {
  width:350px;
}

.picture_break_full {
  margin:auto;
  overflow:hidden;

}

.picture_break_cut {
  margin:auto;
  overflow:hidden;
}

.subtext {
line-height:50px;
}

@media only screen and (max-width:1080px) {


.pic_container {
  height:200px;
}

main {
  width:95%;
}

.subtext {
  line-height:100px;
}

}
