<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectWwwToNonWww" stopProcessing="false">
  			<match url="(.*)" />
			<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			    <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
			</conditions>
			<action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
		</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>